In [1]:
import requests
import json
import pandas as pd
import functools as ft
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_endpoints_dict = {
    'Shooting Data' : 'https://data.cityofnewyork.us/resource/833y-fsy8.json',
    'Complaint Map' : 'https://data.cityofnewyork.us/resource/2fra-mtpn.json',
    'Use of Force' : 'https://data.cityofnewyork.us/resource/f4tj-796d.json'
}

In [3]:
class Loader:
    def load_file(self, api_endpoint):
        data = requests.get(api_endpoint)
        data = json.loads(data.text)
        data_df = pd.json_normalize(data)
        data = None
        return data_df

In [4]:
data_loader = Loader()

In [32]:
shooting_data = data_loader.load_file(data_endpoints_dict['Shooting Data'])
shooting_data.head(5)

,incident_key,occur_date,occur_time,boro,precinct,jurisdiction_code,statistical_murder_flag,vic_age_group,vic_sex,vic_race,...,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih,:@computed_region_efsh_h5xi,:@computed_region_f5dn_yrer,geocoded_column.type,geocoded_column.coordinates,perp_age_group,perp_sex,perp_race,location_desc
0,228798151,2021-05-27T00:00:00.000,21:30:00,QUEENS,105,0,False,18-24,M,BLACK,...,47,63,24018,63,Point,"[-73.73083868899994, 40.662964620000025]",NaN,NaN,NaN,NaN
1,137471050,2014-06-27T00:00:00.000,17:40:00,BRONX,40,0,False,18-24,M,BLACK,...,35,23,10932,49,Point,"[-73.92494232599995, 40.81035186300006]",NaN,NaN,NaN,NaN
2,147998800,2015-11-21T00:00:00.000,03:56:00,QUEENS,108,0,True,25-44,M,WHITE,...,33,66,14787,53,Point,"[-73.91549174199997, 40.74260663300004]",NaN,NaN,NaN,NaN
3,146837977,2015-10-09T00:00:00.000,18:30:00,BRONX,44,0,False,<18,M,WHITE HISPANIC,...,42,27,10930,50,Point,"[-73.91945661499994, 40.83778200300003]",NaN,NaN,NaN,NaN
4,58921844,2009-02-19T00:00:00.000,22:58:00,BRONX,47,0,True,45-64,M,BLACK,...,2,30,11275,29,Point,"[-73.85290950899997, 40.88623791800006]",25-44,M,BLACK,NaN

In [49]:
shooting_data.boro = shooting_data.boro.str.title()
shooting_data.boro.unique()

array(['Queens', 'Bronx', 'Brooklyn', 'Manhattan', 'Staten Island'],
      dtype=object)

In [57]:
shooting_data = shooting_data.rename(columns={'boro': 'borough', 'occur_date': 'date'})
shooting_data.head(5)

,incident_key,date,occur_time,borough,precinct,jurisdiction_code,statistical_murder_flag,vic_age_group,vic_sex,vic_race,...,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih,:@computed_region_efsh_h5xi,:@computed_region_f5dn_yrer,geocoded_column.type,geocoded_column.coordinates,perp_age_group,perp_sex,perp_race,location_desc
0,228798151,2021-05-27T00:00:00.000,21:30:00,Queens,105,0,False,18-24,M,BLACK,...,47,63,24018,63,Point,"[-73.73083868899994, 40.662964620000025]",NaN,NaN,NaN,NaN
1,137471050,2014-06-27T00:00:00.000,17:40:00,Bronx,40,0,False,18-24,M,BLACK,...,35,23,10932,49,Point,"[-73.92494232599995, 40.81035186300006]",NaN,NaN,NaN,NaN
2,147998800,2015-11-21T00:00:00.000,03:56:00,Queens,108,0,True,25-44,M,WHITE,...,33,66,14787,53,Point,"[-73.91549174199997, 40.74260663300004]",NaN,NaN,NaN,NaN
3,146837977,2015-10-09T00:00:00.000,18:30:00,Bronx,44,0,False,<18,M,WHITE HISPANIC,...,42,27,10930,50,Point,"[-73.91945661499994, 40.83778200300003]",NaN,NaN,NaN,NaN
4,58921844,2009-02-19T00:00:00.000,22:58:00,Bronx,47,0,True,45-64,M,BLACK,...,2,30,11275,29,Point,"[-73.85290950899997, 40.88623791800006]",25-44,M,BLACK,NaN

In [74]:
sorted(complaint_map_data.date)

['1990-04-28T00:00:00.000',
 '2015-01-08T00:00:00.000',
 '2019-11-12T00:00:00.000',
 '2020-06-01T00:00:00.000',
 '2021-07-01T00:00:00.000',
 '2021-12-30T00:00:00.000',
 '2022-01-01T00:00:00.000',
 '2022-01-26T00:00:00.000',
 '2022-02-01T00:00:00.000',
 '2022-03-03T00:00:00.000',
 '2022-03-16T00:00:00.000',
 '2022-04-01T00:00:00.000',
 '2022-04-26T00:00:00.000',
 '2022-06-22T00:00:00.000',
 '2022-07-16T00:00:00.000',
 '2022-08-02T00:00:00.000',
 '2022-08-20T00:00:00.000',
 '2022-08-22T00:00:00.000',
 '2022-08-23T00:00:00.000',
 '2022-08-26T00:00:00.000',
 '2022-08-28T00:00:00.000',
 '2022-09-01T00:00:00.000',
 '2022-09-30T00:00:00.000',
 '2022-11-06T00:00:00.000',
 '2022-12-01T00:00:00.000',
 '2022-12-01T00:00:00.000',
 '2022-12-03T00:00:00.000',
 '2022-12-04T00:00:00.000',
 '2022-12-07T00:00:00.000',
 '2022-12-08T00:00:00.000',
 '2022-12-19T00:00:00.000',
 '2022-12-20T00:00:00.000',
 '2022-12-30T00:00:00.000',
 '2022-12-31T00:00:00.000',
 '2022-12-31T00:00:00.000',
 '2023-01-01T00:00:00.000',
 '2023-01-01T00:00:00.000',
 '2023-01-01T00:00:00.000',
 '2023-01-02T00:00:00.000',
 '2023-01-02T00:00:00.000',
 '2023-01-02T00:00:00.000',
 '2023-01-02T00:00:00.000',
 '2023-01-03T00:00:00.000',
 '2023-01-03T00:00:00.000',
 '2023-01-03T00:00:00.000',
 '2023-01-03T00:00:00.000',
 '2023-01-04T00:00:00.000',
 '2023-01-04T00:00:00.000',
 '2023-01-04T00:00:00.000',
 '2023-01-04T00:00:00.000',
 '2023-01-04T00:00:00.000',
 '2023-01-05T00:00:00.000',
 '2023-01-05T00:00:00.000',
 '2023-01-05T00:00:00.000',
 '2023-01-06T00:00:00.000',
 '2023-01-06T00:00:00.000',
 '2023-01-06T00:00:00.000',
 '2023-01-06T00:00:00.000',
 '2023-01-06T00:00:00.000',
 '2023-01-07T00:00:00.000',
 '2023-01-07T00:00:00.000',
 '2023-01-07T00:00:00.000',
 '2023-01-07T00:00:00.000',
 '2023-01-07T00:00:00.000',
 '2023-01-08T00:00:00.000',
 '2023-01-08T00:00:00.000',
 '2023-01-08T00:00:00.000',
 '2023-01-08T00:00:00.000',
 '2023-01-08T00:00:00.000',
 '2023-01-09T00:00:00.000',
 '2023-01-09T00:00:00.000',
 '2023-01-09T00:00:00.000',
 '2023-01-09T00:00:00.000',
 '2023-01-10T00:00:00.000',
 '2023-01-11T00:00:00.000',
 '2023-01-11T00:00:00.000',
 '2023-01-12T00:00:00.000',
 '2023-01-12T00:00:00.000',
 '2023-01-12T00:00:00.000',
 '2023-01-12T00:00:00.000',
 '2023-01-12T00:00:00.000',
 '2023-01-13T00:00:00.000',
 '2023-01-14T00:00:00.000',
 '2023-01-14T00:00:00.000',
 '2023-01-14T00:00:00.000',
 '2023-01-14T00:00:00.000',
 '2023-01-14T00:00:00.000',
 '2023-01-14T00:00:00.000',
 '2023-01-15T00:00:00.000',
 '2023-01-15T00:00:00.000',
 '2023-01-15T00:00:00.000',
 '2023-01-16T00:00:00.000',
 '2023-01-16T00:00:00.000',
 '2023-01-16T00:00:00.000',
 '2023-01-17T00:00:00.000',
 '2023-01-18T00:00:00.000',
 '2023-01-18T00:00:00.000',
 '2023-01-18T00:00:00.000',
 '2023-01-18T00:00:00.000',
 '2023-01-19T00:00:00.000',
 '2023-01-19T00:00:00.000',
 '2023-01-20T00:00:00.000',
 '2023-01-20T00:00:00.000',
 '2023-01-21T00:00:00.000',
 '2023-01-21T00:00:00.000',
 '2023-01-21T00:00:00.000',
 '2023-01-21T00:00:00.000',
 '2023-01-21T00:00:00.000',
 '2023-01-21T00:00:00.000',
 '2023-01-21T00:00:00.000',
 '2023-01-21T00:00:00.000',
 '2023-01-22T00:00:00.000',
 '2023-01-22T00:00:00.000',
 '2023-01-22T00:00:00.000',
 '2023-01-23T00:00:00.000',
 '2023-01-23T00:00:00.000',
 '2023-01-23T00:00:00.000',
 '2023-01-23T00:00:00.000',
 '2023-01-23T00:00:00.000',
 '2023-01-23T00:00:00.000',
 '2023-01-23T00:00:00.000',
 '2023-01-24T00:00:00.000',
 '2023-01-26T00:00:00.000',
 '2023-01-26T00:00:00.000',
 '2023-01-26T00:00:00.000',
 '2023-01-26T00:00:00.000',
 '2023-01-26T00:00:00.000',
 '2023-01-26T00:00:00.000',
 '2023-01-27T00:00:00.000',
 '2023-01-27T00:00:00.000',
 '2023-01-27T00:00:00.000',
 '2023-01-28T00:00:00.000',
 '2023-01-28T00:00:00.000',
 '2023-01-28T00:00:00.000',
 '2023-01-28T00:00:00.000',
 '2023-01-29T00:00:00.000',
 '2023-01-29T00:00:00.000',
 '2023-01-29T00:00:00.000',
 '2023-01-29T00:00:00.000',
 '2023-01-30T00:00:00.000',
 '2023-01-30T00:00:00.000',
 '2023-01-31T00:00:00.000',
 '2023-01-31T00:00:00.000',
 '2023-01-31T00:00:00.000',
 '2023-02-01T00:00:00.000',
 '2023-02-01T00:00:00.000',
 '2023-02-01T00:00:00.000',
 '2023-02-01T00:00:00.000',
 '2023-02-01T00:00:00.000',
 '2023-02-02T00:00:00.000',
 '2023-02-02T00:00:00.000',
 '2023-02-02T00:00:00.000',
 '2023-02-02T00:00:00.000',
 '2023-02-03T00:00:00.000',
 '2023-02-05T00:00:00.000',
 '2023-02-06T00:00:00.000',
 '2023-02-07T00:00:00.000',
 '2023-02-07T00:00:00.000',
 '2023-02-07T00:00:00.000',
 '2023-02-08T00:00:00.000',
 '2023-02-08T00:00:00.000',
 '2023-02-08T00:00:00.000',
 '2023-02-08T00:00:00.000',
 '2023-02-08T00:00:00.000',
 '2023-02-09T00:00:00.000',
 '2023-02-09T00:00:00.000',
 '2023-02-09T00:00:00.000',
 '2023-02-10T00:00:00.000',
 '2023-02-10T00:00:00.000',
 '2023-02-10T00:00:00.000',
 '2023-02-10T00:00:00.000',
 '2023-02-10T00:00:00.000',
 '2023-02-10T00:00:00.000',
 '2023-02-11T00:00:00.000',
 '2023-02-12T00:00:00.000',
 '2023-02-12T00:00:00.000',
 '2023-02-12T00:00:00.000',
 '2023-02-12T00:00:00.000',
 '2023-02-12T00:00:00.000',
 '2023-02-13T00:00:00.000',
 '2023-02-13T00:00:00.000',
 '2023-02-13T00:00:00.000',
 '2023-02-14T00:00:00.000',
 '2023-02-15T00:00:00.000',
 '2023-02-15T00:00:00.000',
 '2023-02-15T00:00:00.000',
 '2023-02-16T00:00:00.000',
 '2023-02-16T00:00:00.000',
 '2023-02-16T00:00:00.000',
 '2023-02-17T00:00:00.000',
 '2023-02-17T00:00:00.000',
 '2023-02-17T00:00:00.000',
 '2023-02-18T00:00:00.000',
 '2023-02-18T00:00:00.000',
 '2023-02-19T00:00:00.000',
 '2023-02-19T00:00:00.000',
 '2023-02-19T00:00:00.000',
 '2023-02-19T00:00:00.000',
 '2023-02-20T00:00:00.000',
 '2023-02-20T00:00:00.000',
 '2023-02-20T00:00:00.000',
 '2023-02-21T00:00:00.000',
 '2023-02-21T00:00:00.000',
 '2023-02-21T00:00:00.000',
 '2023-02-22T00:00:00.000',
 '2023-02-22T00:00:00.000',
 '2023-02-22T00:00:00.000',
 '2023-02-22T00:00:00.000',
 '2023-02-22T00:00:00.000',
 '2023-02-22T00:00:00.000',
 '2023-02-22T00:00:00.000',
 '2023-02-23T00:00:00.000',
 '2023-02-24T00:00:00.000',
 '2023-02-24T00:00:00.000',
 '2023-02-25T00:00:00.000',
 '2023-02-26T00:00:00.000',
 '2023-02-26T00:00:00.000',
 '2023-02-26T00:00:00.000',
 '2023-02-26T00:00:00.000',
 '2023-02-26T00:00:00.000',
 '2023-02-27T00:00:00.000',
 '2023-02-27T00:00:00.000',
 '2023-02-28T00:00:00.000',
 '2023-02-28T00:00:00.000',
 '2023-02-28T00:00:00.000',
 '2023-03-01T00:00:00.000',
 '2023-03-01T00:00:00.000',
 '2023-03-01T00:00:00.000',
 '2023-03-03T00:00:00.000',
 '2023-03-03T00:00:00.000',
 '2023-03-03T00:00:00.000',
 '2023-03-03T00:00:00.000',
 '2023-03-04T00:00:00.000',
 '2023-03-04T00:00:00.000',
 '2023-03-04T00:00:00.000',
 '2023-03-05T00:00:00.000',
 '2023-03-05T00:00:00.000',
 '2023-03-05T00:00:00.000',
 '2023-03-06T00:00:00.000',
 '2023-03-07T00:00:00.000',
 '2023-03-07T00:00:00.000',
 '2023-03-07T00:00:00.000',
 '2023-03-07T00:00:00.000',
 '2023-03-08T00:00:00.000',
 '2023-03-08T00:00:00.000',
 '2023-03-08T00:00:00.000',
 '2023-03-09T00:00:00.000',
 '2023-03-10T00:00:00.000',
 '2023-03-10T00:00:00.000',
 '2023-03-10T00:00:00.000',
 '2023-03-10T00:00:00.000',
 '2023-03-10T00:00:00.000',
 '2023-03-10T00:00:00.000',
 '2023-03-10T00:00:00.000',
 '2023-03-10T00:00:00.000',
 '2023-03-11T00:00:00.000',
 '2023-03-11T00:00:00.000',
 '2023-03-11T00:00:00.000',
 '2023-03-12T00:00:00.000',
 '2023-03-12T00:00:00.000',
 '2023-03-12T00:00:00.000',
 '2023-03-12T00:00:00.000',
 '2023-03-12T00:00:00.000',
 '2023-03-12T00:00:00.000',
 '2023-03-13T00:00:00.000',
 '2023-03-13T00:00:00.000',
 '2023-03-13T00:00:00.000',
 '2023-03-14T00:00:00.000',
 '2023-03-15T00:00:00.000',
 '2023-03-15T00:00:00.000',
 '2023-03-16T00:00:00.000',
 '2023-03-17T00:00:00.000',
 '2023-03-17T00:00:00.000',
 '2023-03-17T00:00:00.000',
 '2023-03-17T00:00:00.000',
 '2023-03-17T00:00:00.000',
 '2023-03-18T00:00:00.000',
 '2023-03-18T00:00:00.000',
 '2023-03-19T00:00:00.000',
 '2023-03-20T00:00:00.000',
 '2023-03-20T00:00:00.000',
 '2023-03-20T00:00:00.000',
 '2023-03-21T00:00:00.000',
 '2023-03-22T00:00:00.000',
 '2023-03-22T00:00:00.000',
 '2023-03-22T00:00:00.000',
 '2023-03-22T00:00:00.000',
 '2023-03-22T00:00:00.000',
 '2023-03-22T00:00:00.000',
 '2023-03-22T00:00:00.000',
 '2023-03-23T00:00:00.000',
 '2023-03-23T00:00:00.000',
 '2023-03-24T00:00:00.000',
 '2023-03-24T00:00:00.000',
 '2023-03-25T00:00:00.000',
 '2023-03-26T00:00:00.000',
 '2023-03-26T00:00:00.000',
 '2023-03-27T00:00:00.000',
 '2023-03-27T00:00:00.000',
 '2023-03-27T00:00:00.000',
 '2023-03-28T00:00:00.000',
 '2023-03-28T00:00:00.000',
 '2023-03-28T00:00:00.000',
 '2023-03-28T00:00:00.000',
 '2023-03-28T00:00:00.000',
 '2023-03-28T00:00:00.000',
 '2023-03-29T00:00:00.000',
 '2023-03-29T00:00:00.000',
 '2023-03-29T00:00:00.000',
 '2023-03-29T00:00:00.000',
 '2023-03-29T00:00:00.000',
 '2023-03-30T00:00:00.000',
 '2023-03-30T00:00:00.000',
 '2023-03-30T00:00:00.000',
 '2023-03-30T00:00:00.000',
 '2023-03-30T00:00:00.000',
 '2023-03-30T00:00:00.000',
 '2023-03-30T00:00:00.000',
 '2023-03-31T00:00:00.000',
 '2023-03-31T00:00:00.000',
 '2023-03-31T00:00:00.000',
 '2023-03-31T00:00:00.000',
 '2023-04-01T00:00:00.000',
 '2023-04-01T00:00:00.000',
 '2023-04-01T00:00:00.000',
 '2023-04-01T00:00:00.000',
 '2023-04-01T00:00:00.000',
 '2023-04-02T00:00:00.000',
 '2023-04-02T00:00:00.000',
 '2023-04-02T00:00:00.000',
 '2023-04-02T00:00:00.000',
 '2023-04-02T00:00:00.000',
 '2023-04-02T00:00:00.000',
 '2023-04-03T00:00:00.000',
 '2023-04-03T00:00:00.000',
 '2023-04-03T00:00:00.000',
 '2023-04-03T00:00:00.000',
 '2023-04-03T00:00:00.000',
 '2023-04-03T00:00:00.000',
 '2023-04-03T00:00:00.000',
 '2023-04-04T00:00:00.000',
 '2023-04-04T00:00:00.000',
 '2023-04-05T00:00:00.000',
 '2023-04-05T00:00:00.000',
 '2023-04-05T00:00:00.000',
 '2023-04-06T00:00:00.000',
 '2023-04-06T00:00:00.000',
 '2023-04-06T00:00:00.000',
 '2023-04-06T00:00:00.000',
 '2023-04-06T00:00:00.000',
 '2023-04-06T00:00:00.000',
 '2023-04-07T00:00:00.000',
 '2023-04-07T00:00:00.000',
 '2023-04-07T00:00:00.000',
 '2023-04-08T00:00:00.000',
 '2023-04-08T00:00:00.000',
 '2023-04-08T00:00:00.000',
 '2023-04-08T00:00:00.000',
 '2023-04-09T00:00:00.000',
 '2023-04-09T00:00:00.000',
 '2023-04-11T00:00:00.000',
 '2023-04-11T00:00:00.000',
 '2023-04-12T00:00:00.000',
 '2023-04-12T00:00:00.000',
 '2023-04-13T00:00:00.000',
 '2023-04-13T00:00:00.000',
 '2023-04-13T00:00:00.000',
 '2023-04-14T00:00:00.000',
 '2023-04-14T00:00:00.000',
 '2023-04-14T00:00:00.000',
 '2023-04-14T00:00:00.000',
 '2023-04-14T00:00:00.000',
 '2023-04-15T00:00:00.000',
 '2023-04-15T00:00:00.000',
 '2023-04-16T00:00:00.000',
 '2023-04-16T00:00:00.000',
 '2023-04-16T00:00:00.000',
 '2023-04-17T00:00:00.000',
 '2023-04-17T00:00:00.000',
 '2023-04-17T00:00:00.000',
 '2023-04-17T00:00:00.000',
 '2023-04-18T00:00:00.000',
 '2023-04-18T00:00:00.000',
 '2023-04-18T00:00:00.000',
 '2023-04-18T00:00:00.000',
 '2023-04-19T00:00:00.000',
 '2023-04-19T00:00:00.000',
 '2023-04-19T00:00:00.000',
 '2023-04-20T00:00:00.000',
 '2023-04-20T00:00:00.000',
 '2023-04-20T00:00:00.000',
 '2023-04-20T00:00:00.000',
 '2023-04-20T00:00:00.000',
 '2023-04-20T00:00:00.000',
 '2023-04-20T00:00:00.000',
 '2023-04-21T00:00:00.000',
 '2023-04-21T00:00:00.000',
 '2023-04-22T00:00:00.000',
 '2023-04-22T00:00:00.000',
 '2023-04-23T00:00:00.000',
 '2023-04-23T00:00:00.000',
 '2023-04-23T00:00:00.000',
 '2023-04-23T00:00:00.000',
 '2023-04-23T00:00:00.000',
 '2023-04-24T00:00:00.000',
 '2023-04-24T00:00:00.000',
 '2023-04-24T00:00:00.000',
 '2023-04-24T00:00:00.000',
 '2023-04-24T00:00:00.000',
 '2023-04-24T00:00:00.000',
 '2023-04-24T00:00:00.000',
 '2023-04-24T00:00:00.000',
 '2023-04-24T00:00:00.000',
 '2023-04-24T00:00:00.000',
 '2023-04-25T00:00:00.000',
 '2023-04-26T00:00:00.000',
 '2023-04-26T00:00:00.000',
 '2023-04-26T00:00:00.000',
 '2023-04-27T00:00:00.000',
 '2023-04-27T00:00:00.000',
 '2023-04-27T00:00:00.000',
 '2023-04-28T00:00:00.000',
 '2023-04-29T00:00:00.000',
 '2023-04-29T00:00:00.000',
 '2023-04-29T00:00:00.000',
 '2023-04-29T00:00:00.000',
 '2023-04-30T00:00:00.000',
 '2023-04-30T00:00:00.000',
 '2023-05-01T00:00:00.000',
 '2023-05-01T00:00:00.000',
 '2023-05-02T00:00:00.000',
 '2023-05-02T00:00:00.000',
 '2023-05-02T00:00:00.000',
 '2023-05-02T00:00:00.000',
 '2023-05-02T00:00:00.000',
 '2023-05-03T00:00:00.000',
 '2023-05-03T00:00:00.000',
 '2023-05-03T00:00:00.000',
 '2023-05-04T00:00:00.000',
 '2023-05-04T00:00:00.000',
 '2023-05-05T00:00:00.000',
 '2023-05-05T00:00:00.000',
 '2023-05-05T00:00:00.000',
 '2023-05-05T00:00:00.000',
 '2023-05-05T00:00:00.000',
 '2023-05-05T00:00:00.000',
 '2023-05-05T00:00:00.000',
 '2023-05-05T00:00:00.000',
 '2023-05-06T00:00:00.000',
 '2023-05-06T00:00:00.000',
 '2023-05-06T00:00:00.000',
 '2023-05-06T00:00:00.000',
 '2023-05-06T00:00:00.000',
 '2023-05-07T00:00:00.000',
 '2023-05-07T00:00:00.000',
 '2023-05-08T00:00:00.000',
 '2023-05-09T00:00:00.000',
 '2023-05-09T00:00:00.000',
 '2023-05-09T00:00:00.000',
 '2023-05-10T00:00:00.000',
 '2023-05-10T00:00:00.000',
 '2023-05-10T00:00:00.000',
 '2023-05-11T00:00:00.000',
 '2023-05-11T00:00:00.000',
 '2023-05-12T00:00:00.000',
 '2023-05-12T00:00:00.000',
 '2023-05-12T00:00:00.000',
 '2023-05-12T00:00:00.000',
 '2023-05-12T00:00:00.000',
 '2023-05-12T00:00:00.000',
 '2023-05-13T00:00:00.000',
 '2023-05-13T00:00:00.000',
 '2023-05-13T00:00:00.000',
 '2023-05-13T00:00:00.000',
 '2023-05-14T00:00:00.000',
 '2023-05-14T00:00:00.000',
 '2023-05-14T00:00:00.000',
 '2023-05-14T00:00:00.000',
 '2023-05-14T00:00:00.000',
 '2023-05-14T00:00:00.000',
 '2023-05-14T00:00:00.000',
 '2023-05-14T00:00:00.000',
 '2023-05-15T00:00:00.000',
 '2023-05-15T00:00:00.000',
 '2023-05-15T00:00:00.000',
 '2023-05-16T00:00:00.000',
 '2023-05-16T00:00:00.000',
 '2023-05-16T00:00:00.000',
 '2023-05-16T00:00:00.000',
 '2023-05-17T00:00:00.000',
 '2023-05-17T00:00:00.000',
 '2023-05-17T00:00:00.000',
 '2023-05-17T00:00:00.000',
 '2023-05-18T00:00:00.000',
 '2023-05-18T00:00:00.000',
 '2023-05-19T00:00:00.000',
 '2023-05-19T00:00:00.000',
 '2023-05-19T00:00:00.000',
 '2023-05-19T00:00:00.000',
 '2023-05-20T00:00:00.000',
 '2023-05-20T00:00:00.000',
 '2023-05-20T00:00:00.000',
 '2023-05-20T00:00:00.000',
 '2023-05-21T00:00:00.000',
 '2023-05-21T00:00:00.000',
 '2023-05-21T00:00:00.000',
 '2023-05-22T00:00:00.000',
 '2023-05-22T00:00:00.000',
 '2023-05-22T00:00:00.000',
 '2023-05-22T00:00:00.000',
 '2023-05-23T00:00:00.000',
 '2023-05-23T00:00:00.000',
 '2023-05-23T00:00:00.000',
 '2023-05-23T00:00:00.000',
 '2023-05-24T00:00:00.000',
 '2023-05-24T00:00:00.000',
 '2023-05-24T00:00:00.000',
 '2023-05-24T00:00:00.000',
 '2023-05-25T00:00:00.000',
 '2023-05-25T00:00:00.000',
 '2023-05-25T00:00:00.000',
 '2023-05-25T00:00:00.000',
 '2023-05-26T00:00:00.000',
 '2023-05-26T00:00:00.000',
 '2023-05-26T00:00:00.000',
 '2023-05-26T00:00:00.000',
 '2023-05-26T00:00:00.000',
 '2023-05-26T00:00:00.000',
 '2023-05-27T00:00:00.000',
 '2023-05-27T00:00:00.000',
 '2023-05-27T00:00:00.000',
 '2023-05-28T00:00:00.000',
 '2023-05-28T00:00:00.000',
 '2023-05-28T00:00:00.000',
 '2023-05-28T00:00:00.000',
 '2023-05-29T00:00:00.000',
 '2023-05-29T00:00:00.000',
 '2023-05-29T00:00:00.000',
 '2023-05-29T00:00:00.000',
 '2023-05-30T00:00:00.000',
 '2023-05-30T00:00:00.000',
 '2023-05-31T00:00:00.000',
 '2023-05-31T00:00:00.000',
 '2023-06-01T00:00:00.000',
 '2023-06-03T00:00:00.000',
 '2023-06-04T00:00:00.000',
 '2023-06-04T00:00:00.000',
 '2023-06-04T00:00:00.000',
 '2023-06-05T00:00:00.000',
 '2023-06-05T00:00:00.000',
 '2023-06-05T00:00:00.000',
 '2023-06-05T00:00:00.000',
 '2023-06-05T00:00:00.000',
 '2023-06-05T00:00:00.000',
 '2023-06-06T00:00:00.000',
 '2023-06-06T00:00:00.000',
 '2023-06-06T00:00:00.000',
 '2023-06-06T00:00:00.000',
 '2023-06-07T00:00:00.000',
 '2023-06-07T00:00:00.000',
 '2023-06-08T00:00:00.000',
 '2023-06-09T00:00:00.000',
 '2023-06-09T00:00:00.000',
 '2023-06-09T00:00:00.000',
 '2023-06-09T00:00:00.000',
 '2023-06-10T00:00:00.000',
 '2023-06-10T00:00:00.000',
 '2023-06-10T00:00:00.000',
 '2023-06-10T00:00:00.000',
 '2023-06-10T00:00:00.000',
 '2023-06-10T00:00:00.000',
 '2023-06-10T00:00:00.000',
 '2023-06-11T00:00:00.000',
 '2023-06-11T00:00:00.000',
 '2023-06-11T00:00:00.000',
 '2023-06-11T00:00:00.000',
 '2023-06-13T00:00:00.000',
 '2023-06-13T00:00:00.000',
 '2023-06-13T00:00:00.000',
 '2023-06-13T00:00:00.000',
 '2023-06-13T00:00:00.000',
 '2023-06-14T00:00:00.000',
 '2023-06-15T00:00:00.000',
 '2023-06-15T00:00:00.000',
 '2023-06-15T00:00:00.000',
 '2023-06-15T00:00:00.000',
 '2023-06-15T00:00:00.000',
 '2023-06-16T00:00:00.000',
 '2023-06-16T00:00:00.000',
 '2023-06-16T00:00:00.000',
 '2023-06-16T00:00:00.000',
 '2023-06-17T00:00:00.000',
 '2023-06-17T00:00:00.000',
 '2023-06-17T00:00:00.000',
 '2023-06-17T00:00:00.000',
 '2023-06-17T00:00:00.000',
 '2023-06-18T00:00:00.000',
 '2023-06-19T00:00:00.000',
 '2023-06-19T00:00:00.000',
 '2023-06-19T00:00:00.000',
 '2023-06-19T00:00:00.000',
 '2023-06-20T00:00:00.000',
 '2023-06-20T00:00:00.000',
 '2023-06-21T00:00:00.000',
 '2023-06-21T00:00:00.000',
 '2023-06-21T00:00:00.000',
 '2023-06-21T00:00:00.000',
 '2023-06-22T00:00:00.000',
 '2023-06-22T00:00:00.000',
 '2023-06-22T00:00:00.000',
 '2023-06-22T00:00:00.000',
 '2023-06-23T00:00:00.000',
 '2023-06-23T00:00:00.000',
 '2023-06-23T00:00:00.000',
 '2023-06-23T00:00:00.000',
 '2023-06-24T00:00:00.000',
 '2023-06-25T00:00:00.000',
 '2023-06-25T00:00:00.000',
 '2023-06-25T00:00:00.000',
 '2023-06-25T00:00:00.000',
 '2023-06-25T00:00:00.000',
 '2023-06-27T00:00:00.000',
 '2023-06-27T00:00:00.000',
 '2023-06-27T00:00:00.000',
 '2023-06-27T00:00:00.000',
 '2023-06-27T00:00:00.000',
 '2023-06-27T00:00:00.000',
 '2023-06-28T00:00:00.000',
 '2023-06-28T00:00:00.000',
 '2023-06-28T00:00:00.000',
 '2023-06-28T00:00:00.000',
 '2023-06-29T00:00:00.000',
 '2023-06-29T00:00:00.000',
 '2023-06-29T00:00:00.000',
 '2023-06-29T00:00:00.000',
 '2023-06-29T00:00:00.000',
 '2023-06-29T00:00:00.000',
 '2023-06-29T00:00:00.000',
 '2023-06-29T00:00:00.000',
 '2023-06-30T00:00:00.000',
 '2023-06-30T00:00:00.000',
 '2023-06-30T00:00:00.000',
 '2023-06-30T00:00:00.000',
 '2023-06-30T00:00:00.000',
 '2023-06-30T00:00:00.000',
 '2023-06-30T00:00:00.000',
 '2023-06-30T00:00:00.000',
 '2023-07-01T00:00:00.000',
 '2023-07-01T00:00:00.000',
 '2023-07-02T00:00:00.000',
 '2023-07-02T00:00:00.000',
 '2023-07-02T00:00:00.000',
 '2023-07-03T00:00:00.000',
 '2023-07-03T00:00:00.000',
 '2023-07-04T00:00:00.000',
 '2023-07-04T00:00:00.000',
 '2023-07-04T00:00:00.000',
 '2023-07-04T00:00:00.000',
 '2023-07-05T00:00:00.000',
 '2023-07-05T00:00:00.000',
 '2023-07-05T00:00:00.000',
 '2023-07-05T00:00:00.000',
 '2023-07-05T00:00:00.000',
 '2023-07-05T00:00:00.000',
 '2023-07-06T00:00:00.000',
 '2023-07-06T00:00:00.000',
 '2023-07-06T00:00:00.000',
 '2023-07-06T00:00:00.000',
 '2023-07-06T00:00:00.000',
 '2023-07-06T00:00:00.000',
 '2023-07-07T00:00:00.000',
 '2023-07-07T00:00:00.000',
 '2023-07-07T00:00:00.000',
 '2023-07-07T00:00:00.000',
 '2023-07-07T00:00:00.000',
 '2023-07-07T00:00:00.000',
 '2023-07-07T00:00:00.000',
 '2023-07-07T00:00:00.000',
 '2023-07-07T00:00:00.000',
 '2023-07-07T00:00:00.000',
 '2023-07-08T00:00:00.000',
 '2023-07-08T00:00:00.000',
 '2023-07-08T00:00:00.000',
 '2023-07-09T00:00:00.000',
 '2023-07-09T00:00:00.000',
 '2023-07-10T00:00:00.000',
 '2023-07-10T00:00:00.000',
 '2023-07-11T00:00:00.000',
 '2023-07-11T00:00:00.000',
 '2023-07-11T00:00:00.000',
 '2023-07-12T00:00:00.000',
 '2023-07-12T00:00:00.000',
 '2023-07-12T00:00:00.000',
 '2023-07-12T00:00:00.000',
 '2023-07-13T00:00:00.000',
 '2023-07-13T00:00:00.000',
 '2023-07-13T00:00:00.000',
 '2023-07-13T00:00:00.000',
 '2023-07-13T00:00:00.000',
 '2023-07-13T00:00:00.000',
 '2023-07-13T00:00:00.000',
 '2023-07-13T00:00:00.000',
 '2023-07-13T00:00:00.000',
 '2023-07-14T00:00:00.000',
 '2023-07-14T00:00:00.000',
 '2023-07-14T00:00:00.000',
 '2023-07-14T00:00:00.000',
 '2023-07-14T00:00:00.000',
 '2023-07-14T00:00:00.000',
 '2023-07-15T00:00:00.000',
 '2023-07-15T00:00:00.000',
 '2023-07-15T00:00:00.000',
 '2023-07-15T00:00:00.000',
 '2023-07-15T00:00:00.000',

In [33]:
complaint_map_data = data_loader.load_file(data_endpoints_dict['Complaint Map'])
complaint_map_data.head(5)

,cmplnt_num,addr_pct_cd,boro_nm,cmplnt_fr_dt,cmplnt_fr_tm,cmplnt_to_tm,crm_atpt_cptd_cd,hadevelopt,juris_desc,ky_cd,...,pd_desc,prem_typ_desc,rpt_dt,x_coord_cd,y_coord_cd,latitude,longitude,location_1.type,location_1.coordinates,cmplnt_to_dt
0,270652286,43,BRONX,2023-07-01T00:00:00.000,05:00:00,(null),COMPLETED,(null),N.Y. POLICE DEPT,104,...,RAPE 1,(null),2023-07-01T00:00:00.000,1020219,239110,40.8229123084767,-73.8700413043181,Point,"[-73.8700413043181, 40.8229123084767]",NaN
1,269679657H1,NaN,MANHATTAN,2023-06-09T00:00:00.000,08:13:00,(null),COMPLETED,(null),N.Y. POLICE DEPT,101,...,(null),(null),2023-06-09T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,270825324,122,STATEN ISLAND,2023-07-02T00:00:00.000,19:30:00,20:00:00,COMPLETED,(null),N.Y. POLICE DEPT,351,...,"CRIMINAL MISCHIEF,UNCLASSIFIED 4",RESIDENCE-HOUSE,2023-07-03T00:00:00.000,946681,142778,40.558491,-74.135201,Point,"[-74.135201, 40.558491]",2023-07-02T00:00:00.000
3,274700214,1,MANHATTAN,2023-09-19T00:00:00.000,18:05:00,20:15:00,COMPLETED,(null),N.Y. POLICE DEPT,341,...,"LARCENY,PETIT FROM OPEN AREAS,",STREET,2023-09-19T00:00:00.000,980863,198480,40.711458,-74.012216,Point,"[-74.012216, 40.711458]",2023-09-19T00:00:00.000
4,272352661,123,STATEN ISLAND,2023-08-03T00:00:00.000,17:20:00,17:35:00,COMPLETED,(null),N.Y. POLICE DEPT,109,...,"LARCENY,GRAND FROM EATERY, UNATTENDED",FAST FOOD,2023-08-03T00:00:00.000,926582,136703,40.541709,-74.207482,Point,"[-74.207482, 40.541709]",2023-08-03T00:00:00.000

In [50]:
complaint_map_data.boro_nm = complaint_map_data.boro_nm.str.title()
complaint_map_data.boro_nm.unique()

array(['Bronx', 'Manhattan', 'Staten Island', 'Brooklyn', 'Queens'],
      dtype=object)

In [58]:
complaint_map_data = complaint_map_data.rename(columns={'boro_nm': 'borough', 'cmplnt_fr_dt': 'date'})
complaint_map_data.head(5)

,cmplnt_num,addr_pct_cd,borough,date,cmplnt_fr_tm,cmplnt_to_tm,crm_atpt_cptd_cd,hadevelopt,juris_desc,ky_cd,...,pd_desc,prem_typ_desc,rpt_dt,x_coord_cd,y_coord_cd,latitude,longitude,location_1.type,location_1.coordinates,cmplnt_to_dt
0,270652286,43,Bronx,2023-07-01T00:00:00.000,05:00:00,(null),COMPLETED,(null),N.Y. POLICE DEPT,104,...,RAPE 1,(null),2023-07-01T00:00:00.000,1020219,239110,40.8229123084767,-73.8700413043181,Point,"[-73.8700413043181, 40.8229123084767]",NaN
1,269679657H1,NaN,Manhattan,2023-06-09T00:00:00.000,08:13:00,(null),COMPLETED,(null),N.Y. POLICE DEPT,101,...,(null),(null),2023-06-09T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,270825324,122,Staten Island,2023-07-02T00:00:00.000,19:30:00,20:00:00,COMPLETED,(null),N.Y. POLICE DEPT,351,...,"CRIMINAL MISCHIEF,UNCLASSIFIED 4",RESIDENCE-HOUSE,2023-07-03T00:00:00.000,946681,142778,40.558491,-74.135201,Point,"[-74.135201, 40.558491]",2023-07-02T00:00:00.000
3,274700214,1,Manhattan,2023-09-19T00:00:00.000,18:05:00,20:15:00,COMPLETED,(null),N.Y. POLICE DEPT,341,...,"LARCENY,PETIT FROM OPEN AREAS,",STREET,2023-09-19T00:00:00.000,980863,198480,40.711458,-74.012216,Point,"[-74.012216, 40.711458]",2023-09-19T00:00:00.000
4,272352661,123,Staten Island,2023-08-03T00:00:00.000,17:20:00,17:35:00,COMPLETED,(null),N.Y. POLICE DEPT,109,...,"LARCENY,GRAND FROM EATERY, UNATTENDED",FAST FOOD,2023-08-03T00:00:00.000,926582,136703,40.541709,-74.207482,Point,"[-74.207482, 40.541709]",2023-08-03T00:00:00.000

In [52]:
use_of_force_data = data_loader.load_file(data_endpoints_dict['Use of Force'])
use_of_force_data.head(5)

,tri_incident_number,forcetype,occurrence_date,incident_pct,patrol_borough,yearmonthshort,basisforencounter
0,2023094962399,Physical Force,2023-09-21T00:00:00.000,75,PBBN,2023 Sep,CRIME/VIOLATION IN PROGRESS
1,2023059962344,Physical Force,2023-09-13T00:00:00.000,40,PBBX,2023 Sep,CRIME/VIOLATION IN PROGRESS
2,2023064962120,Physical Force,2023-09-13T00:00:00.000,45,PBBX,2023 Sep,CRIME/VIOLATION IN PROGRESS
3,2023140962087,Physical Force,2023-09-08T00:00:00.000,121,PBSI,2023 Sep,CRIME/VIOLATION IN PROGRESS
4,2023053962127,Physical Force,2023-08-27T00:00:00.000,34,PBMN,2023 Aug,CRIME/VIOLATION IN PROGRESS

In [53]:
use_of_force_data.patrol_borough.unique()

array(['PBBN', 'PBBX', 'PBSI', 'PBMN', 'PBMS', 'PBBS', 'PBQS', 'PBQN'],
      dtype=object)

In [54]:
borough_mapping = {
    'PBBX': 'Bronx', 
    'PBSI': 'Staten Island', 
    'PBMN': 'Manhattan', 
    'PBMS': 'Manhattan',
    'PBBN': 'Brooklyn', 
    'PBBS': 'Brooklyn', 
    'PBQS': 'Queens', 
    'PBQN': 'Queens'
}

In [55]:
use_of_force_data.patrol_borough = use_of_force_data.patrol_borough.map(borough_mapping)
print(use_of_force_data.patrol_borough.unique())
use_of_force_data.head(5)

['Brooklyn' 'Bronx' 'Staten Island' 'Manhattan' 'Queens']

,tri_incident_number,forcetype,occurrence_date,incident_pct,patrol_borough,yearmonthshort,basisforencounter
0,2023094962399,Physical Force,2023-09-21T00:00:00.000,75,Brooklyn,2023 Sep,CRIME/VIOLATION IN PROGRESS
1,2023059962344,Physical Force,2023-09-13T00:00:00.000,40,Bronx,2023 Sep,CRIME/VIOLATION IN PROGRESS
2,2023064962120,Physical Force,2023-09-13T00:00:00.000,45,Bronx,2023 Sep,CRIME/VIOLATION IN PROGRESS
3,2023140962087,Physical Force,2023-09-08T00:00:00.000,121,Staten Island,2023 Sep,CRIME/VIOLATION IN PROGRESS
4,2023053962127,Physical Force,2023-08-27T00:00:00.000,34,Manhattan,2023 Aug,CRIME/VIOLATION IN PROGRESS

In [59]:
use_of_force_data = use_of_force_data.rename(columns={'patrol_borough': 'borough', 'occurrence_date': 'date'})
use_of_force_data.head(5)

,tri_incident_number,forcetype,date,incident_pct,borough,yearmonthshort,basisforencounter
0,2023094962399,Physical Force,2023-09-21T00:00:00.000,75,Brooklyn,2023 Sep,CRIME/VIOLATION IN PROGRESS
1,2023059962344,Physical Force,2023-09-13T00:00:00.000,40,Bronx,2023 Sep,CRIME/VIOLATION IN PROGRESS
2,2023064962120,Physical Force,2023-09-13T00:00:00.000,45,Bronx,2023 Sep,CRIME/VIOLATION IN PROGRESS
3,2023140962087,Physical Force,2023-09-08T00:00:00.000,121,Staten Island,2023 Sep,CRIME/VIOLATION IN PROGRESS
4,2023053962127,Physical Force,2023-08-27T00:00:00.000,34,Manhattan,2023 Aug,CRIME/VIOLATION IN PROGRESS

In [86]:
dfs = [shooting_data, complaint_map_data, use_of_force_data]
df_final = ft.reduce(lambda left, right: pd.merge(left, right, on=['borough']), dfs)
df_final.head()

,incident_key,date_x,occur_time,borough,precinct,jurisdiction_code,statistical_murder_flag,vic_age_group,vic_sex,vic_race,...,longitude_y,location_1.type,location_1.coordinates,cmplnt_to_dt,tri_incident_number,forcetype,date,incident_pct,yearmonthshort,basisforencounter
0,228798151,2021-05-27T00:00:00.000,21:30:00,Queens,105,0,False,18-24,M,BLACK,...,-73.911311,Point,"[-73.911311, 40.768408]",NaN,2023124962101,Physical Force,2023-07-06T00:00:00.000,105,2023 Jul,CRIME/VIOLATION IN PROGRESS
1,228798151,2021-05-27T00:00:00.000,21:30:00,Queens,105,0,False,18-24,M,BLACK,...,-73.911311,Point,"[-73.911311, 40.768408]",NaN,2023123962039,Physical Force,2023-05-05T00:00:00.000,104,2023 May,CRIME/VIOLATION IN PROGRESS
2,228798151,2021-05-27T00:00:00.000,21:30:00,Queens,105,0,False,18-24,M,BLACK,...,-73.911311,Point,"[-73.911311, 40.768408]",NaN,2023125962054,Physical Force,2023-04-19T00:00:00.000,106,2023 Apr,CRIME/VIOLATION IN PROGRESS
3,228798151,2021-05-27T00:00:00.000,21:30:00,Queens,105,0,False,18-24,M,BLACK,...,-73.911311,Point,"[-73.911311, 40.768408]",NaN,2023131962023,Physical Force,2023-03-18T00:00:00.000,112,2023 Mar,CRIME/VIOLATION IN PROGRESS
4,228798151,2021-05-27T00:00:00.000,21:30:00,Queens,105,0,False,18-24,M,BLACK,...,-73.911311,Point,"[-73.911311, 40.768408]",NaN,2023122962018,Physical Force,2023-01-04T00:00:00.000,103,2023 Jan,CRIME/VIOLATION IN PROGRESS

In [87]:
df_final

,incident_key,date_x,occur_time,borough,precinct,jurisdiction_code,statistical_murder_flag,vic_age_group,vic_sex,vic_race,...,longitude_y,location_1.type,location_1.coordinates,cmplnt_to_dt,tri_incident_number,forcetype,date,incident_pct,yearmonthshort,basisforencounter
0,228798151,2021-05-27T00:00:00.000,21:30:00,Queens,105,0,False,18-24,M,BLACK,...,-73.911311,Point,"[-73.911311, 40.768408]",NaN,2023124962101,Physical Force,2023-07-06T00:00:00.000,105,2023 Jul,CRIME/VIOLATION IN PROGRESS
1,228798151,2021-05-27T00:00:00.000,21:30:00,Queens,105,0,False,18-24,M,BLACK,...,-73.911311,Point,"[-73.911311, 40.768408]",NaN,2023123962039,Physical Force,2023-05-05T00:00:00.000,104,2023 May,CRIME/VIOLATION IN PROGRESS
2,228798151,2021-05-27T00:00:00.000,21:30:00,Queens,105,0,False,18-24,M,BLACK,...,-73.911311,Point,"[-73.911311, 40.768408]",NaN,2023125962054,Physical Force,2023-04-19T00:00:00.000,106,2023 Apr,CRIME/VIOLATION IN PROGRESS
3,228798151,2021-05-27T00:00:00.000,21:30:00,Queens,105,0,False,18-24,M,BLACK,...,-73.911311,Point,"[-73.911311, 40.768408]",NaN,2023131962023,Physical Force,2023-03-18T00:00:00.000,112,2023 Mar,CRIME/VIOLATION IN PROGRESS
4,228798151,2021-05-27T00:00:00.000,21:30:00,Queens,105,0,False,18-24,M,BLACK,...,-73.911311,Point,"[-73.911311, 40.768408]",NaN,2023122962018,Physical Force,2023-01-04T00:00:00.000,103,2023 Jan,CRIME/VIOLATION IN PROGRESS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18009718,46072797,2008-04-29T00:00:00.000,18:54:00,Staten Island,120,0,True,25-44,M,WHITE,...,-74.12182303788887,Point,"[-74.12182303788887, 40.63917616665099]",2023-08-14T00:00:00.000,2020139962081,Physical Force,2020-04-01T00:00:00.000,120,2020 Apr,CRIME/VIOLATION IN PROGRESS
18009719,46072797,2008-04-29T00:00:00.000,18:54:00,Staten Island,120,0,True,25-44,M,WHITE,...,-74.12182303788887,Point,"[-74.12182303788887, 40.63917616665099]",2023-08-14T00:00:00.000,2020139962078,Physical Force,2020-03-30T00:00:00.000,120,2020 Mar,CRIME/VIOLATION IN PROGRESS
18009720,46072797,2008-04-29T00:00:00.000,18:54:00,Staten Island,120,0,True,25-44,M,WHITE,...,-74.12182303788887,Point,"[-74.12182303788887, 40.63917616665099]",2023-08-14T00:00:00.000,2020139962063,Physical Force,2020-03-11T00:00:00.000,120,2020 Mar,CRIME/VIOLATION IN PROGRESS
18009721,46072797,2008-04-29T00:00:00.000,18:54:00,Staten Island,120,0,True,25-44,M,WHITE,...,-74.12182303788887,Point,"[-74.12182303788887, 40.63917616665099]",2023-08-14T00:00:00.000,2020140962036,Physical Force,2020-03-10T00:00:00.000,121,2020 Mar,CRIME/VIOLATION IN PROGRESS
18009722,46072797,2008-04-29T00:00:00.000,18:54:00,Staten Island,120,0,True,25-44,M,WHITE,...,-74.12182303788887,Point,"[-74.12182303788887, 40.63917616665099]",2023-08-14T00:00:00.000,2020139962031,Physical Force,2020-01-17T00:00:00.000,120,2020 Jan,CRIME/VIOLATION IN PROGRESS

In [88]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18009723 entries, 0 to 18009722
Data columns (total 55 columns):
 #   Column                       Dtype
---  ------                       -----
 0   incident_key                 object
 1   date_x                       object
 2   occur_time                   object
 3   borough                      object
 4   precinct                     object
 5   jurisdiction_code            object
 6   statistical_murder_flag      bool
 7   vic_age_group                object
 8   vic_sex                      object
 9   vic_race                     object
 10  x_coord_cd_x                 object
 11  y_coord_cd_x                 object
 12  latitude_x                   object
 13  longitude_x                  object
 14  :@computed_region_yeji_bk3q  object
 15  :@computed_region_92fq_4b7q  object
 16  :@computed_region_sbqj_enih  object
 17  :@computed_region_efsh_h5xi  object
 18  :@computed_region_f5dn_yrer  object
 19  geocoded_column.type         object
 20  geocoded_column.coordinates  object
 21  perp_age_group               object
 22  perp_sex                     object
 23  perp_race                    object
 24  location_desc                object
 25  cmplnt_num                   object
 26  addr_pct_cd                  object
 27  date_y                       object
 28  cmplnt_fr_tm                 object
 29  cmplnt_to_tm                 object
 30  crm_atpt_cptd_cd             object
 31  hadevelopt                   object
 32  juris_desc                   object
 33  ky_cd                        object
 34  law_cat_cd                   object
 35  loc_of_occur_desc            object
 36  ofns_desc                    object
 37  parks_nm                     object
 38  pd_cd                        object
 39  pd_desc                      object
 40  prem_typ_desc                object
 41  rpt_dt                       object
 42  x_coord_cd_y                 object
 43  y_coord_cd_y                 object
 44  latitude_y                   object
 45  longitude_y                  object
 46  location_1.type              object
 47  location_1.coordinates       object
 48  cmplnt_to_dt                 object
 49  tri_incident_number          object
 50  forcetype                    object
 51  date                         object
 52  incident_pct                 object
 53  yearmonthshort               object
 54  basisforencounter            object
dtypes: bool(1), object(54)
memory usage: 7.3+ GB

In [ ]:
df_final.borough.sum().value_counts()

In [ ]:
plt.plot(df_final.borough, df_final